<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UBU-TEMP</title>
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/coco.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body onload="getStatus(); monthFilter({{ months }});">
    <nav class="navbar navbar-dark bg-white">
        <a href="/"><span class="text-dark navbar-brand mb-0 h1">UBU-TEMP</span></a>
        <span class="text-dark navbar-text">
            <p>Dataset ทั้งหมด {{ rowCount }} แถว</p>
        </span>
    </nav>

    <!--Status-->
    <div class="jumbotron">
        <div class="row w-100">
            <div class="col-md-3">
                <div class="card border-info mx-sm-1 p-3">
                    <div class="text-info text-center mt-3">
                        <h4>ทวีชัย</h4>
                    </div>
                    <div class="text-info text-center mt-2">
                        <p class="h2" id='twc'>...</p>
                    </div>
                    <div class="text-info text-center mt-2">
                        <p class="h6">last temp: <span id="twc1"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-success mx-sm-1 p-3">
                    <div class="text-success text-center mt-3">
                        <h4>เอเอเพลส</h4>
                    </div>
                    <div class="text-success text-center mt-2">
                        <p class="h2" id='aa'>...</p>
                    </div>
                    <div class="text-success text-center mt-2">
                        <p class="h6">last temp: <span id="aa1"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-danger mx-sm-1 p-3">
                    <div class="text-danger text-center mt-3">
                        <h4>กนกวรรณ ชั้น1</h4>
                    </div>
                    <div class="text-danger text-center mt-2">
                        <p class="h2" id='knw1'>...</p>
                    </div>
                    <div class="text-danger text-center mt-2">
                        <p class="h6">last temp: <span id="knw11"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-warning mx-sm-1 p-3">
                    <div class="text-warning text-center mt-3">
                        <h4>กนกวรรณ ชั้น3</h4>
                    </div>

                    <div class="text-warning text-center mt-2">
                        <p class="h2" id='knw2'>...</p>
                    </div>
                    <div class="text-warning text-center mt-2">
                        <p class="h6">last temp: <span id="knw21"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="form-group row">
            <div class="col-sm-12">
                <p class="Main-topic" id='tests'>คาดการณ์หาอุณหภูมิ</p>
                <form id="formPred">
                    <select class="form-control form-control-lg" name="rpiId">
                        <option value="3">หอพัก กนกวรรณ ชั้น1</option>
                        <option value="4">หอพัก กนกวรรณ ชั้น3</option>
                        <option value="2">หอพัก AA</option>
                        <option value="1">หอพัก ทวีชัย</option>
                    </select>
                    </br>

                    <select class="form-control form-control-lg" id="inject" name="date"></select>
                    </br>

                    <!--Time picker -->
                    <p>เลือกเวลา</p>
                    <div>
                        <input type="number" min="0" max="23" placeholder="23" name="time" required>:
                        <input type="number" min="0" max="59" placeholder="00" name="minute" required>
                    </div>
                    </br>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
    </div>
    <div class="container1">
        </br>
        </br>
        <center>
            <div class="col-md-2" id="result"></div>
        </center>
    </div>
    <footer class="text-muted">
        <p>Copyright © 2021 By UBU student.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/RpiStatus.js') }}"></script>
    <script src="{{ url_for('static', filename='js/showmonth.js') }}"></script>
    <script>
        $(function () {
            var formPred = $('#formPred');

            formPred.submit(function (event) {
                event.preventDefault();
                $.ajax({
                    "data": formPred.serialize(),
                    "method": "POST",
                    "success": (data, textStatus, jqXHR) => {
                        $('#result').html(`<div class="card border-danger mx-sm-1 p-3"><div class="h2 text-warning root">ผลลัพธ์คือ ${data.temp}°C</div></div>`);
                    },
                    "url": "/pred",
                });
            });
        });
    </script>
</body>

</html>